<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
