<!DOCTYPE html>
<html>
<head>
  <title>Devisetest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div>
    <% if current_user.nil? %>
  	  <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
    <% else %>
    	<%= link_to app_dashboard_index_path, class: 'login-button' do %>Go to App<% end %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
      <%= link_to('Edit registration', edit_user_registration_path) %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Register', new_user_registration_path)  %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>


<%= yield %>

</body>
</html>
